<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedNote</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/reminder.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/all/logo.png">
    <script src="../../js/reminder/reminder.js"></script>
    <script src="../../js/reminder/create_reminder.js"></script>
    <script src="../../js/href-index-account.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a id="logo-link" href="../homepage/index.html">
                    <img src="../../img/all/logo.png" alt="MedNote Logo">
                </a>
                <p>Удобное ведение медицинских записей</p>
            </div>
            <div class="header-title">
                <h2>Ваши напоминания</h2>
            </div>
            <div class="auth-buttons">
                <a href="../homepage/account.html"><button>Войти</button></a>
            </div>
        </div>
    </header>

    <main>
        <div class="sidebar">
            <a href="../records/record.html"><button class="record-button">
                <img src="../../img/all/record.png" alt="Record Icon">
            </button></a>
            <a href="../reminder/reminder.html"><button class="reminder-button">
                <img src="../../img/all/reminder.png" alt="Reminder Icon">
            </button></a>
        </div>
        <section class="reminder-form">
            <form id="reminder-form">
                <div class="form-text">
                    <input type="text" placeholder="Заголовок" class="title-input" required>
                    <textarea placeholder="Текст напоминания" class="text-input" required></textarea>
                </div>
                
                <div class="form-controls">
                    <div class="date-picker">
                        <input type="date" required>
                    </div>
                    <div class="time-picker">
                        <input type="time" required>
                    </div>
                </div>
                <button type="submit" class="add-reminder-button">Добавить</button>
            </form>
        </section>

        <section class="reminders-container">
            <div class="reminders">
                
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>MedNote</p>
                <p>© 2024 MedNote – Все права защищены</p>
            </div>
            <div class="footer-links">
                <a href="#">Помощь</a>
                <a href="#">Техническая поддержка</a>
            </div>
            <div class="footer-contacts">
                <p>Контакты:</p>
                <p>mednote@example.com</p>
                <p>+7 123 456 78 90</p>
            </div>
        </div>
    </footer>
</body>
</html>
