<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedNote</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/all/logo.png">
    <script src="../../js/href-index-account.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a id="logo-link" href="../homepage/index.html">
                    <img src="../../img/all/logo.png" alt="MedNote Logo">
                </a>
                <p>Удобное ведение медицинских записей</p>
            </div>
            <div class="auth-buttons">
                <a href="../auth/authorization.html"><button>Войти</button></a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-left">
        <h2>Рады приветствовать Вас в приложении</h2>
        <h1>MedNote</h1>
        <p>Теперь следить за здоровьем и ввести осознанность в свою жизнь стало в разы проще!</p>
        <div class="hero-buttons">
            <a href="../auth/authorization.html"><button>Войти</button></a>
            <a href="../auth/registration.html"><button>Зарегистрироваться</button></a>
        </div>
        </div>
        <div class="hero-right">
            <img src="../../img/main/smartwatch-illustration.png" alt="Smartwatch Illustration" class="hero-image">
        </div>
    </section>

    <section class="features">
        <h3>Функционал приложения</h3>
        <div class="feature-boxes">
            <div class="feature-box">
                <h4>Ведение медицинских записей</h4>
                <p>Забивайте показатели вашего состояния и убедитесь, что оно в норме. Приложение подсветит отклонения, на которые стоит обратить внимание!</p>
            </div>
            <div class="feature-box">
                <h4>Напоминания о важном</h4>
                <p>Добавьте напоминания о приеме лекарств, посещении врача или просто о тренировке! Забота о здоровье начинается с полезных привычек!</p>
            </div>
            <div class="feature-box">
                <h4>Отчет самочувствия</h4>
                <p>Приложение соберет ваши данные воедино и предложит рекомендации по их улучшению. Вы можете поделиться отчетом с вашим лечащим врачом.</p>
            </div>
            <div class="feature-box">
                <h4>Дневник здоровья</h4>
                <p>Приложение является личным дневником здоровья, который поможет вам структурировать свою жизнь.</p>
            </div>
        </div>
    </section>

    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>MedNote</p>
                <p>© 2024 MedNote – Все права защищены</p>
            </div>
            <div class="footer-links">
                <a href="#">Помощь</a>
                <a href="#">Техническая поддержка</a>
            </div>
            <div class="footer-contacts">
                <p>Контакты:</p>
                <p>mednote@example.com</p>
                <p>+7 123 456 78 90</p>
            </div>
        </div>
    </footer>


</body>
</html>
