<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedNote</title>
    <link rel="stylesheet" href="/api/static/css/main.css">
    <link rel="stylesheet" href="/api/static/css/auth.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/api/static/img/all/logo.png">
    <script src="/api/static/js/reset-password/restoration.js"></script>
    <script src="/api/static/js/href-index-account.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a id="logo-link" href="/api/static/homepage/index.html">
                    <img src="/api/static/img/all/logo.png" alt="MedNote Logo">
                </a>
                <p>Удобное ведение медицинских записей</p>
            </div>
            <div class="auth-buttons">
                <a href="/api/static/auth/authorization.html"><button>Войти</button></a>
            </div>
        </div>
    </header>

    <main>
        <div class="login-form">
            <h2>MedNote</h2>
            <form action="#" method="post">
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="new-password" placeholder="Новый пароль" required>
                <input type="repeat-new-password" placeholder="Повторите пароль" required>
                <button type="submit">Войти</button>
            </form>
        </div>
    </main>


    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>MedNote</p>
                <p>© 2024 MedNote – Все права защищены</p>
            </div>
            <div class="footer-links">
                <a href="#">Помощь</a>
                <a href="#">Техническая поддержка</a>
            </div>
            <div class="footer-contacts">
                <p>Контакты:</p>
                <p>mednote@example.com</p>
                <p>+7 123 456 78 90</p>
            </div>
        </div>
    </footer>
</body>
</html>
